.page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/pictures/DALL·E\ 2024-12-18\ 23.02.19\ -\ A\ modern\ luxury\ clothing\ store\ reception\ viewed\ at\ an\ angle\,\ featuring\ a\ white\ and\ brown\ gold\ color\ palette.\ The\ reception\ desk\ is\ sleek\ and\ minimalis.webp);
    background-position: top;
    color: white;
    height: 500px;
    margin: 0;
    transition: all 0.6s;
    margin-left: 12px;
    margin-right: 1px;
}

.page :hover {
    transform: scale(1.1);
}

.welcome-msg {
    width: 350px;
    display: flex;
    height: 300px;
    background-color: #36454F;
    align-items: center;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(119, 107, 81);
    transition: all 0.6s;
}

.page .welcome-msg :hover {
    /* background-color: white;
    color: #36454F; */
    box-shadow: none;
}

.text {
    width: 350px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: white;
    line-height: 30px;
    transition: all .6s;
}



.contens {
    /* background-color: #36454F; */
    display: flex;
    margin-left: 12px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    padding-top: 20px;
    cursor: pointer;
    transition: all .8s;
}

.contens :hover{
    transform: scale(1.02);
    box-shadow: 0px  0px 1.8rem black;
}

.itm {
    background-color: #36454F;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-items: center;
    width: 380px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
    
}

.AF1 {
    width: 380px;

}

.shoename {
    display: flex;
    align-items: start;
    font-size: 16px;
    font-weight: normal;
    width: 300px;
    margin-right: 070px;
    height: 60px;
    color: white;
}


.cart {
    display: flex;
    margin-left: 30px;
    height: 30px;
    margin-top: 12px;
    justify-items: center;
}

.cartbtn {
    display: flex;
    flex-direction: row;
    background-color: #36454F;
    border: none;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}


.cartmsg {
    display: flex;
    align-items: center;
    margin-top: 6px;
    padding-left: 1px;
    width: 80px;
    text-align: center;
    color: white;
}

