@media screen and (max-width: 720px) {
    .navBar {
        transform: scale(1.8);
        padding-left: 70px;
        padding-right: 50px;
        padding-top: 30px;
    }

    .left-navBar {
        margin-left: px;
        font-size: 12px;
    }

    .right-navBar {
        margin-right: 80px;
        display: ;
    }

    .right-navBar a {
        font-size: 12px;
        padding: 2px;
    }

    .information-preview {
        transform: scale(1);
        padding: 0;
        margin-left: 360px;
    }

    .information-preview3 {
        transform: scale(1);
        padding: 0;
        margin-left: 360px;
    }

    .bottom-header {
    margin-left: 300px;
    visibility: collapse;
    }

    .content-header {
        margin-top: 30px;
    }

}
